# 2 Data wrangling<a id='2_Data_wrangling'></a>

## 2.1 Introduction<a id='2.2_Introduction'></a>

In this project, we will identify key factors used in predicting the nightly rate of Airbnb listings in New York, NY that affect nightly rates.

## 2.2 Imports<a id='2.3_Imports'></a>

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests 
import json
import re

# Import label encoder 
from sklearn import preprocessing 

#zipcode
from geopy.geocoders import Nominatim

## 2.3 Load The listings data from Airbnb

In [2]:
# the supplied CSV data file is the raw_data directory
data = pd.read_csv('listings.csv')

Use the info method and display the first few records with head.

In [3]:
#Call the info method on data to see a summary of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            38792 non-null  int64
 1   listing_url                                   38792 non-null  object
 2   scrape_id                                     38792 non-null  int64
 3   last_scraped                                  38792 non-null  object
 4   source                                        38792 non-null  object
 5   name                                          38792 non-null  object
 6   description                                   38223 non-null  object
 7   neighborhood_overview                         22556 non-null  object
 8   picture_url                                   38792 non-null  object
 9   host_id                                       38792 non-null  int64
 10  host_url                                      38792 non-null  object
 11  host_name                                     38787 non-null  object
 12  host_since                                    38787 non-null  object
 13  host_location                                 30515 non-null  object
 14  host_about                                    21643 non-null  object
 15  host_response_time                            25618 non-null  object
 16  host_response_rate                            25618 non-null  object
 17  host_acceptance_rate                          26888 non-null  object
 18  host_is_superhost                             38537 non-null  object
 19  host_thumbnail_url                            38787 non-null  object
 20  host_picture_url                              38787 non-null  object
 21  host_neighbourhood                            31040 non-null  object
 22  host_listings_count                           38787 non-null  float64
 23  host_total_listings_count                     38787 non-null  float64
 24  host_verifications                            38792 non-null  object
 25  host_has_profile_pic                          38787 non-null  object
 26  host_identity_verified                        38787 non-null  object
 27  neighbourhood                                 22557 non-null  object
 28  neighbourhood_cleansed                        38792 non-null  object
 29  neighbourhood_group_cleansed                  38792 non-null  object
 30  latitude                                      38792 non-null  float64
 31  longitude                                     38792 non-null  float64
 32  property_type                                 38792 non-null  object
 33  room_type                                     38792 non-null  object
 34  accommodates                                  38792 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                38750 non-null  object
 37  bedrooms                                      21892 non-null  float64
 38  beds                                          38129 non-null  float64
 39  amenities                                     38792 non-null  object
 40  price                                         38792 non-null  object
 41  minimum_nights                                38792 non-null  int64
 42  maximum_nights                                38792 non-null  int64
 43  minimum_minimum_nights                        38792 non-null  int64
 44  maximum_minimum_nights                        38792 non-null  int64
 45  minimum_maximum_nights                        38792 non-null  int64
 46  maximum_maximum_nights                        38792 non-null  int64
 47  minimum_nights_avg_ntm                        38792 non-null  float64
 48  maximum_nights_avg_ntm                        38792 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              38792 non-null  object
 51  availability_30                               38792 non-null  int64
 52  availability_60                               38792 non-null  int64
 53  availability_90                               38792 non-null  int64
 54  availability_365                              38792 non-null  int64
 55  calendar_last_scraped                         38792 non-null  object
 56  number_of_reviews                             38792 non-null  int64
 57  number_of_reviews_ltm                         38792 non-null  int64
 58  number_of_reviews_l30d                        38792 non-null  int64
 59  first_review                                  28440 non-null  object
 60  last_review                                   28440 non-null  object
 61  review_scores_rating                          28445 non-null  float64
 62  review_scores_accuracy                        28030 non-null  float64
 63  review_scores_cleanliness                     28040 non-null  float64
 64  review_scores_checkin                         28026 non-null  float64
 65  review_scores_communication                   28034 non-null  float64
 66  review_scores_location                        28023 non-null  float64
 67  review_scores_value                           28024 non-null  float64
 68  license                                       2939 non-null   object
 69  instant_bookable                              38792 non-null  object
 70  calculated_host_listings_count                38792 non-null  int64
 71  calculated_host_listings_count_entire_homes   38792 non-null  int64
 72  calculated_host_listings_count_private_rooms  38792 non-null  int64
 73  calculated_host_listings_count_shared_rooms   38792 non-null  int64
 74  reviews_per_month                             28440 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 22.2+ MB

In [4]:
#Call the head method on to print the first several rows of the data
data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,9630344,https://www.airbnb.com/rooms/9630344,20231001204715,2023-10-02,city scrape,Rental unit in Brooklyn · ★4.80 · 1 bedroom ·...,Enjoy your own private bedroom in our 2 bedroo...,Easy access to subway. Trendy and yet quiet.,https://a0.muscache.com/pictures/496cf3f1-7d0d...,47783628,...,5.00,4.80,5.00,NaN,f,1,0,1,0,0.06
1,3533741,https://www.airbnb.com/rooms/3533741,20231001204715,2023-10-02,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,Come stay in the heart of historic Hells Kitch...,NaN,https://a0.muscache.com/pictures/45157664/862a...,17791294,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
2,9731039,https://www.airbnb.com/rooms/9731039,20231001204715,2023-10-02,previous scrape,Rental unit in Queens · Studio · 1 bed · 1 bath,Studio Apartment in the heart of Sunnyside: of...,NaN,https://a0.muscache.com/pictures/81a96b92-d357...,50213378,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,21736164,https://www.airbnb.com/rooms/21736164,20231001204715,2023-10-02,previous scrape,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,"Light-filled, high-ceilinged 1BR brownstone ap...","The neighborhood is vibrant, multicultural, an...",https://a0.muscache.com/pictures/4e3ee5e2-baa1...,4298654,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.03
4,22280002,https://www.airbnb.com/rooms/22280002,20231001204715,2023-10-01,city scrape,Rental unit in Brooklyn · ★4.98 · 1 bedroom · ...,This is a comfortable super spacious sunny 1 b...,Welcome to the enchanting neighborhood of Stuy...,https://a0.muscache.com/pictures/b187bce7-ded7...,67373899,...,4.91,4.94,4.92,NaN,f,1,1,0,0,1.26

## 2.6 Explore The Data<a id='2.6_Explore_The_Data'></a>

### 2.6.1 Remove useless columns

In [5]:
selected_features = ['latitude', 'longitude', 'property_type','room_type', 'bedrooms','beds', 'bathrooms', 'accommodates', 'price', 'number_of_reviews','review_scores_rating', 'host_is_superhost', 'host_verifications', 'host_acceptance_rate','host_picture_url', 'host_listings_count', 'host_total_listings_count' ]
data_selected_cols = data[selected_features]
data_selected_cols

,latitude,longitude,property_type,room_type,bedrooms,beds,bathrooms,accommodates,price,number_of_reviews,review_scores_rating,host_is_superhost,host_verifications,host_acceptance_rate,host_picture_url,host_listings_count,host_total_listings_count
0,40.68457,-73.91181,Private room in rental unit,Private room,NaN,1.0,NaN,1,$65.00,5,4.80,f,"['email', 'phone']",NaN,https://a0.muscache.com/im/pictures/user/5c087...,1.0,2.0
1,40.76878,-73.98719,Private room in rental unit,Private room,1.0,1.0,NaN,2,$110.00,0,NaN,f,"['email', 'phone']",NaN,https://a0.muscache.com/im/pictures/user/e204b...,1.0,1.0
2,40.74343,-73.91865,Entire rental unit,Entire home/apt,NaN,1.0,NaN,1,$99.00,0,NaN,f,"['email', 'phone']",NaN,https://a0.muscache.com/im/pictures/user/65d77...,1.0,1.0
3,40.68180,-73.93121,Entire rental unit,Entire home/apt,1.0,1.0,NaN,2,$70.00,2,5.00,f,"['email', 'phone', 'work_email']",NaN,https://a0.muscache.com/im/users/4298654/profi...,1.0,2.0
4,40.68209,-73.94279,Entire rental unit,Entire home/apt,1.0,2.0,NaN,4,$170.00,88,4.98,t,"['email', 'phone']",100%,https://a0.muscache.com/im/pictures/user/41ec9...,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38787,40.69448,-73.93722,Private room in rental unit,Private room,NaN,1.0,NaN,1,$95.00,18,4.78,t,"['email', 'phone']",94%,https://a0.muscache.com/im/users/21020951/prof...,1.0,6.0
38788,40.80243,-73.96719,Private room in rental unit,Private room,NaN,1.0,NaN,2,$75.00,1,5.00,f,"['email', 'phone']",NaN,https://a0.muscache.com/im/pictures/user/8daf5...,2.0,3.0
38789,40.80213,-73.96626,Private room in rental unit,Private room,NaN,1.0,NaN,2,$85.00,7,5.00,f,"['email', 'phone']",NaN,https://a0.muscache.com/im/pictures/user/8daf5...,2.0,3.0
38790,40.75374,-73.92452,Entire rental unit,Entire home/apt,1.0,1.0,NaN,2,$145.00,5,5.00,t,"['email', 'phone']",100%,https://a0.muscache.com/im/pictures/user/9a273...,2.0,6.0
38791,40.71350,-73.95225,Entire rental unit,Entire home/apt,NaN,1.0,NaN,2,$185.00,3,5.00,t,"['email', 'phone']",100%,https://a0.muscache.com/im/pictures/user/9a273...,2.0,6.0

In [6]:
# Inspect by info()
data_selected_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   latitude                   38792 non-null  float64
 1   longitude                  38792 non-null  float64
 2   property_type              38792 non-null  object
 3   room_type                  38792 non-null  object
 4   bedrooms                   21892 non-null  float64
 5   beds                       38129 non-null  float64
 6   bathrooms                  0 non-null      float64
 7   accommodates               38792 non-null  int64
 8   price                      38792 non-null  object
 9   number_of_reviews          38792 non-null  int64
 10  review_scores_rating       28445 non-null  float64
 11  host_is_superhost          38537 non-null  object
 12  host_verifications         38792 non-null  object
 13  host_acceptance_rate       26888 non-null  object
 14  host_picture_url           38787 non-null  object
 15  host_listings_count        38787 non-null  float64
 16  host_total_listings_count  38787 non-null  float64
dtypes: float64(8), int64(2), object(7)
memory usage: 5.0+ MB

### 2.6.2 Drop and unwanted columns

In [7]:
# check the percentage of the 38792 entries how many values are NaN

listings_info = {"series": data_selected_cols.columns, \
                 "entry count": [data_selected_cols[column].count() \
                                 for column in data_selected_cols.columns], \
                 "NaN count": [data[column].isna().sum() \
                               for column in data_selected_cols.columns], \
                 "percent of NaN (%)": [(data_selected_cols[column].isna().sum() \
                                         / len(data_selected_cols))*100 \
                                        for column in data_selected_cols.columns]}
listings_info = pd.DataFrame(listings_info).set_index("series")
for i in range(0, len(listings_info), 30):
    display(listings_info.iloc[i:i+30])

                           entry count  NaN count  percent of NaN (%)
series
latitude                         38792          0            0.000000
longitude                        38792          0            0.000000
property_type                    38792          0            0.000000
room_type                        38792          0            0.000000
bedrooms                         21892      16900           43.565684
beds                             38129        663            1.709115
bathrooms                            0      38792          100.000000
accommodates                     38792          0            0.000000
price                            38792          0            0.000000
number_of_reviews                38792          0            0.000000
review_scores_rating             28445      10347           26.673025
host_is_superhost                38537        255            0.657352
host_verifications               38792          0            0.000000
host_acceptance_rate             26888      11904           30.686740
host_picture_url                 38787          5            0.012889
host_listings_count              38787          5            0.012889
host_total_listings_count        38787          5            0.012889

In [8]:
# Drop unnecessary columns
# Drop host_acceptance_rate too less data is available
# Drop bedrooms as there is too less data and we have more info on the number of beds
# Drop bathrooms as there is no info on this
data_selected_cols = data_selected_cols.drop(['host_acceptance_rate', 'bedrooms', 'bathrooms'], axis=1)

In [9]:
# Drop duplicate data
data_selected_cols = data_selected_cols.drop_duplicates()

In [10]:
#remove records with 0 reviews as they may be incorrectly priced and they usually nan for review_scores_rating
data_selected_cols = data_selected_cols.drop(data_selected_cols[data_selected_cols['number_of_reviews']==0].index)

In [11]:
#check cleaned data see if there are any outliers
data_selected_cols.describe()

,latitude,longitude,beds,accommodates,number_of_reviews,review_scores_rating,host_listings_count,host_total_listings_count
count,28434.000000,28434.000000,28009.000000,28434.000000,28434.000000,28434.000000,28431.000000,28431.000000
mean,40.727421,-73.943072,1.660859,2.893473,34.592776,4.625786,35.347649,54.962576
std,0.058176,0.057042,1.149455,1.934389,62.740726,0.744135,284.701737,422.202975
min,40.500314,-74.249840,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,40.686570,-73.981250,1.000000,2.000000,3.000000,4.600000,1.000000,1.000000
50%,40.722089,-73.951980,1.000000,2.000000,11.000000,4.830000,2.000000,3.000000
75%,40.762610,-73.923320,2.000000,4.000000,38.000000,5.000000,4.000000,7.000000
max,40.911147,-73.713650,42.000000,16.000000,1843.000000,5.000000,4559.000000,8820.000000

In [12]:
data_selected_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28434 entries, 0 to 38791
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   latitude                   28434 non-null  float64
 1   longitude                  28434 non-null  float64
 2   property_type              28434 non-null  object
 3   room_type                  28434 non-null  object
 4   beds                       28009 non-null  float64
 5   accommodates               28434 non-null  int64
 6   price                      28434 non-null  object
 7   number_of_reviews          28434 non-null  int64
 8   review_scores_rating       28434 non-null  float64
 9   host_is_superhost          28215 non-null  object
 10  host_verifications         28434 non-null  object
 11  host_picture_url           28431 non-null  object
 12  host_listings_count        28431 non-null  float64
 13  host_total_listings_count  28431 non-null  float64
dtypes: float64(6), int64(2), object(6)
memory usage: 3.3+ MB

In [13]:
data_selected_cols.head()

,latitude,longitude,property_type,room_type,beds,accommodates,price,number_of_reviews,review_scores_rating,host_is_superhost,host_verifications,host_picture_url,host_listings_count,host_total_listings_count
0,40.68457,-73.91181,Private room in rental unit,Private room,1.0,1,$65.00,5,4.80,f,"['email', 'phone']",https://a0.muscache.com/im/pictures/user/5c087...,1.0,2.0
3,40.68180,-73.93121,Entire rental unit,Entire home/apt,1.0,2,$70.00,2,5.00,f,"['email', 'phone', 'work_email']",https://a0.muscache.com/im/users/4298654/profi...,1.0,2.0
4,40.68209,-73.94279,Entire rental unit,Entire home/apt,2.0,4,$170.00,88,4.98,t,"['email', 'phone']",https://a0.muscache.com/im/pictures/user/41ec9...,1.0,1.0
5,40.72625,-73.98691,Private room in condo,Private room,1.0,1,$140.00,61,4.43,f,"['email', 'phone']",https://a0.muscache.com/im/pictures/user/a7674...,2.0,9.0
6,40.72813,-73.98801,Private room in condo,Private room,1.0,1,$125.00,41,4.29,f,"['email', 'phone']",https://a0.muscache.com/im/pictures/user/a7674...,2.0,9.0

### 2.6.3 Fix object type

In [14]:
#fix host_is_superhost to be bool
bool_dict = {'t': True, 'f': False}
data_selected_cols['host_is_superhost'] = data_selected_cols['host_is_superhost'].map(bool_dict).astype('bool')

In [15]:
#fix price to be a float
data_selected_cols['price'] = data_selected_cols['price'].astype(str).str.replace('$', '')
data_selected_cols['price'] = pd.to_numeric(data_selected_cols['price'], errors='coerce')

C:\Users\deept\AppData\Local\Temp\ipykernel_12680\1567550776.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_selected_cols['price'] = data_selected_cols['price'].astype(str).str.replace('$', '')

In [ ]:
#create new column using latitude and longitude to a zipcode to use that for crime patterns
API = r"https://www.mapquestapi.com/geocoding/v1/reverse?key="
API_KEY = "on9cRejILaXSPYBhPY7gzGWkfxyhObjP"

zipcodes = {}
for idx in data_selected_cols.index:
    lat = data_selected_cols.loc[idx,"latitude"]
    lat = str(lat)
    
    long = data_selected_cols.loc[idx,"longitude"]
    long = str(long)
    
    url = API + API_KEY + r"&location=" + lat + r"," + long + \
           r"&outFormat=json&thumbMaps=false"
    r = requests.get(url)

    API_zip = r.json()["results"][0]["locations"][0]["postalCode"]
    API_zip = re.findall("^\d*", API_zip)[0]
    
    data_selected_cols.loc[idx,"zipcode"] = API_zip

data_selected_cols.head()

In [ ]:
data_selected_cols.describe()

In [ ]:
data_selected_cols.info()

In [ ]:
data_selected_cols.head()

In [ ]:
data_selected_cols.to_csv('airbnb_data_clean.csv')